@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

html, body { height: 100%; }

html { scroll-behavior: smooth; }

body { @apply bg-slate-950 text-slate-100 antialiased; }

::selection { @apply bg-sky-400/30; }
